<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title><%=user.name%></title>
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <form method="get" action="/postly/home/<%=user.userId%>">
                <button class="home-btn">Home</button>
            </form>
            <form method="get" action="/postly">
                <button class="home-btn">Logout</button>
            </form>
        </div>
        <h2><%=user.name%></h2>
        <div class="info">
            <p><span>User ID: </span><%=user.userId%></p>
            <p><span>No. of posts: </span><%=postCnt%></p>
        </div>
        <div class="profile-actions">
            <form method="get" action="/postly/new-post/<%=user.userId%>" class="newPost">
                <button class="btn users">New Post</button>
            </form>
            <form method="get" action="/postly/profile/edit-name/<%=user.userId%>" class="editName">
                <button class="btn users">Edit Name</button>
            </form>
            <form method="get" action="/postly/change-password/<%=user.userId%>" class="change-password">
                <button type="submit" class="btn">Change Password</button>
            </form>
            <form method="get" action="/postly/delete-account/<%=user.userId%>" class="delUser">
                <button type="submit" class="btn">Delete Account</button>
            </form>
        </div>
    </div>
    <div class="posts-container">
        <h1 class="heading">My Posts</h1>
        <div class="allPosts">
            <% if(postCnt===0){ %>
                <h4>You have no posts yet</h5>
            <%}%>
            <% if(postCnt>0) { %>
                <ul>
                <% for( let post of posts) { %>
                    <li>
                        <div class="post">
                            <h3 class="post-content subject"><b><%=post.subject%></b></h3>
                            <p class="post-content content">>>> <%= post.content %></p>
                            <p class="post-content date">Posted on: <%=post.date_posted.toDateString() %></p>
                        </div>
                    </li>
                    <div class="postActions">
                        <form method="get" action="/postly/edit-post/<%=post.postId%>" class="editPost">
                            <button class="btn">Edit</button>
                        </form>
                        <form method="post" action="/postly/delete-post/<%=user.userId%>/<%=post.postId%>?_method=DELETE" class="deletePost">
                            <button class="btn">Delete</button>
                        </form>
                    </div>
                    <hr>
                <% } %>
                </ul>
            <% }%>
        </div>
    </div>
</body>
</html>